# Clustering Exercises

### Zillow

For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.


**acquire & summarize**

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

    - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    
    - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
    
    - Only include properties that include a latitude and longitude value.

In [3]:
#basic imports
import pandas as pd
import numpy as np


import env

# Clear pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# Handle large numbers w/o using scientific notation
pd.options.display.float_format = '{:.3f}'.format

In [ ]:
import env

# connection function for accessing mysql 
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

def acquire(df):
    '''
    This function connects to Codeup's SQL Server using given parameters in the user's
    env file.  It then uses a SQL query to acquire all data from Zillow's database that has a transaction data in 2017 and
    has longitude and latitude information on the property.
    
    It returns all the data in a single dataframe called df.
    '''
    
    def get_connection(db, user=env.user, host=env.host, password=env.password):
         return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    query = '''
            SELECT *
FROM properties_2016 
	left outer join properties_2017 using (parcelid)
	left outer join predictions_2017 using (parcelid)
	left outer join airconditioningtype as ac ON (properties_2017.airconditioningtypeid = ac.airconditioningtypeid)
	left outer join architecturalstyletype as ar on (properties_2017.architecturalstyletypeid = ar.architecturalstyletypeid)
	left outer join buildingclasstype as bc on (properties_2017.buildingclasstypeid = bc.buildingclasstypeid)
	left outer join heatingorsystemtype on (properties_2017.heatingorsystemtypeid = heatingorsystemtype.heatingorsystemtypeid)
	LEFT OUTER JOIN propertylandusetype on (properties_2017.propertylandusetypeid = propertylandusetype.propertylandusetypeid)
	LEFT OUTER JOIN storytype on (properties_2017.storytypeid = storytype.storytypeid)
	LEFT OUTER JOIN typeconstructiontype on (properties_2017.typeconstructiontypeid = typeconstructiontype.typeconstructiontypeid)
UNION ALL
SELECT *
FROM properties_2016 
	RIGHT OUTER JOIN properties_2017 using(parcelid)
	RIGHT OUTER JOIN predictions_2017 using(parcelid)
	RIGHT OUTER JOIN airconditioningtype ON (properties_2017.airconditioningtypeid = airconditioningtype.airconditioningtypeid)
	RIGHT OUTER JOIN architecturalstyletype on (properties_2017.architecturalstyletypeid = architecturalstyletype.architecturalstyletypeid)
	RIGHT OUTER JOIN buildingclasstype on (properties_2017.buildingclasstypeid = buildingclasstype.buildingclasstypeid)
	RIGHT OUTER JOIN heatingorsystemtype on (properties_2017.heatingorsystemtypeid = heatingorsystemtype.heatingorsystemtypeid)
	RIGHT OUTER JOIN propertylandusetype on (properties_2017.propertylandusetypeid = propertylandusetype.propertylandusetypeid)
	RIGHT OUTER JOIN storytype on (properties_2017.storytypeid = storytype.storytypeid)
	RIGHT OUTER JOIN typeconstructiontype on (properties_2017.typeconstructiontypeid = typeconstructiontype.typeconstructiontypeid)
WHERE ((properties_2017.longitude is not null) and (properties_2017.latitude is not null) and (properties_2016.longitude is not null) 
    and (properties_2016.latitude is not null) and (predictions_2017.transactiondate like '2017%'));
            '''

    df = pd.read_sql(query, get_connection('zillow'))
    return df

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.value_counts

3.  Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an attribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

Example:

Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.